h1{
    margin: 20px;
}
.row,.mensaje{
    border: 2px solid rgb(236, 236, 236);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 5px 20px rgb(207, 206, 206);
}
.mensaje{
    border:0px;
}

.fas{
    filter: drop-shadow(2px 2px 2px rgb(175, 172, 172));
}
.fa-star-half-alt{
    filter: drop-shadow(3px 3px 2px rgb(223, 222, 222));
}
.btn{
    box-shadow: 2px 2px 1px rgb(202, 194, 194);
}
.fa-trash{
    filter: drop-shadow(0px 0px 0px rgb(255, 255, 255));
    color:rgb(255, 255, 255)
}

footer{
        margin-top: 60px;
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: red;
        color: white;
        text-align: center;

}
.btn{
    margin-bottom: 20px;
    margin-right: 10px;
    border-radius: 10px;
}
.btn-danger{
    padding: 0px;
    margin: 0px;
    width:35px;
    height: 35px;
    border-radius: 100%;
}
code{
    font-size: 1.1em;
}
.rojo{
    color:red
}
.naranja{
    color:rgb(255, 174, 0)
}
.verde{
    color:rgb(19, 175, 19)
}
#definitiva{
    width: 80px;
}